<p id="notice"><%= notice %></p>

<h1>User Addresses</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Address</th>
      <th>Name</th>
      <th>Telphone</th>
      <th>Default</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_addresses.each do |user_address| %>
      <tr>
        <td><%= user_address.user %></td>
        <td><%= user_address.address %></td>
        <td><%= user_address.name %></td>
        <td><%= user_address.telphone %></td>
        <td><%= user_address.default %></td>
        <td><%= link_to 'Show', user_address %></td>
        <td><%= link_to 'Edit', edit_user_address_path(user_address) %></td>
        <td><%= link_to 'Destroy', user_address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Address', new_user_address_path %>
