<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @price_rule.price %>
</p>

<p>
  <strong>Type:</strong>
  <%= @price_rule.type %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @price_rule.start_time %>
</p>

<p>
  <strong>City:</strong>
  <%= @price_rule.city_id %>
</p>

<%= link_to 'Edit', edit_price_rule_path(@price_rule) %> |
<%= link_to 'Back', price_rules_path %>
