<%= form_for(couponrule_city) do |f| %>
  <% if couponrule_city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(couponrule_city.errors.count, "error") %> prohibited this couponrule_city from being saved:</h2>

      <ul>
      <% couponrule_city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :coupon_id %>
    <%= f.number_field :coupon_id %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.number_field :city %>
  </div>

  <div class="field">
    <%= f.label :start_on %>
    <%= f.datetime_select :start_on %>
  </div>

  <div class="field">
    <%= f.label :end_on %>
    <%= f.datetime_select :end_on %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.number_field :status %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
