<%= form_for(rank_comment) do |f| %>
  <% if rank_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rank_comment.errors.count, "error") %> prohibited this rank_comment from being saved:</h2>

      <ul>
      <% rank_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_id %>
    <%= f.text_field :order_id %>
  </div>

  <div class="field">
    <%= f.label :courier_rank %>
    <%= f.number_field :courier_rank %>
  </div>

  <div class="field">
    <%= f.label :factory_rank %>
    <%= f.number_field :factory_rank %>
  </div>

  <div class="field">
    <%= f.label :comment %>
    <%= f.text_area :comment %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
